* {
  box-sizing: border-box;
}
/* :root {
} */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 108px;
  line-height: 48px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
.main-content {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin-left: auto;
  margin-right: auto;
}
.heading {
  color: #0d1111;
  font-weight: 700;
  line-height: 1.16;
}
.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}
.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33;
}
.heading.lv3 {
  font-size: 2.2rem;
  line-height: 1.33;
}
/* header */

.header.fixed {
  position: sticky;
  top: -44px;
  background: #fff;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 6.9px;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  display: flex;
}
.navbar a {
  padding: 6.9px 19.5px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #2f3a3b;
}
.navbar a.active {
  font-weight: 600;
}
.navbar a:hover {
  font-weight: 600;
  color: #2f3a3b;
}
.header .action {
  margin-left: 177px;
}
.header .sign-in-btn {
  color: #494949;
  font-weight: 400;
}
.header .sign-up-btn {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
}
/* hero */
.hero {
  padding: 50px 0 70px;
}
.hero .body {
  display: flex;
}
/* hero left */
.hero .hero-left .title {
  margin-top: 93px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #767e7e;
}
.hero .hero-left .heading {
  margin: 18px 136px 0 0;
  width: 458px;
}
.hero .hero-left .desc {
  width: 374px;
  margin-top: 46px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  color: #9da6a5;
}
.hero .cta-hero {
  display: flex;
  align-items: center;
  margin-top: 52px;
}
.hero .cta-hero .hero-btn {
  min-width: 186px;
  line-height: 68px;
  border-radius: 14px;
  font-size: 1.8rem;
  background: #1ebfc1;
  font-weight: 600;
  color: #fff;
}
.hero .cta-hero a.hero-btn:hover {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.cta-hero .play {
  display: flex;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.cta-hero .play:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.cta-hero .play img {
  display: flex;
  align-items: center;
  margin: auto;
}

/* hero right */
.hero .hero-right {
  position: relative;
  width: 49%;
}
.hero .hero-right .images {
  width: 576px;
  height: 631px;
}
.courses {
  position: absolute;
  display: flex;
  top: 149px;
  left: -40px;
  align-items: center;
  border-radius: 18px;
  padding: 17px 25px 18px;
  width: 157px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.courses .icon img:nth-child(2) {
  position: absolute;
  top: 45px;
  left: 29px;
}

.courses .label {
  width: 55px;
  color: #0d1111;
  margin-left: 16px;
  font-size: 1rem;
  font-weight: 500;
}
.schedules {
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.schedules .label {
  font-size: 1rem;
  font-weight: 500;
  color: #0d1111;
}
.schedules .icon {
  text-align: center;
}
.schedules .icon img:nth-of-type(1) {
  margin-top: 16px;
}
.schedules .icon img:nth-of-type(2) {
  margin-top: 8px;
}
.students {
  padding: 17px 35px;
  width: 207px;
  position: absolute;
  right: 45px;
  top: 500px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.students .label {
  color: #0d1111;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.students .avatar-group {
  display: flex;
  margin-top: 8px;
}
.students .avatar-group .avatar {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  object-fit: cover;
  color: #fff;
  background: var(--bg-color, #fff);
}
.students .avatar span {
  font-size: 1.2rem;
  padding: 9px;
}
/* features */
.features .content {
  width: 1024px;
  padding: 65px 0;
}
.features .info .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
}
.features .info .heading {
  margin: 18px 0;
  width: 577px;
  color: #0d1111;
  font-weight: 700;
}
.features .info .desc {
  width: 590px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #767e7e;
}
/* features list icon */
.features .list-item {
  margin-top: 80px;
  display: flex;
}
.features .list-item .item:nth-child(2) {
  margin-left: 209px;
}
.features .list-item .item:nth-child(3) {
  margin-left: 200px;
}
.features .item img {
  width: 102px;
  height: 106px;
}
.features .item .title {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 600;
  color: #0d1111;
}
.features .item .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  color: #9da6a5;
}
.features .list-item .desc:first-child {
  width: 168px;
}
.features .list-item .desc:nth-child(2) {
  width: 223px;
}
.features .list-item .desc:nth-child(3) {
  width: 224px;
}
/* populars */
.populars {
  padding: 65px 0 189px;
}
.populars .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
}
.populars .info .heading.lv2 {
  margin-top: 18px;
}
.populars .view-coures {
  display: flex;
  margin-top: 19px;
  align-items: center;
  justify-content: space-between;
}
.populars .view-coures a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.populars .view-coures .desc {
  width: 525px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  color: #767e7e;
}
/* popular courses list */
.populars .popular-list {
  display: flex;
  gap: 47px;
  margin-top: 79px;
}
.populars .course-item {
  position: relative;
  width: 33.33%;
  height: 393px;
  border-radius: 8px;
  background: #d0efed;
}
.populars .course-item:hover {
  opacity: 0.8;
}
.populars .course-item .thumb {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}
.popular-list .info-course {
  position: absolute;
  top: 322px;
  left: 17px;
  background: #fff;
  width: 325px;
  height: 195px;
  padding: 18px 25px 19px;
  border-radius: 8px;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
/* .popular-list .info-course .heading {
  margin-top: 0;
} */
.popular-list .info-course .number {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #767e7e;
}
.popular-list .number strong {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0d1111;
}
.popular-list .info-course .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #9da6a5;
}
.popular-list .info-course .date {
  margin-top: 18px;
  display: flex;
}
.popular-list .date .date-info {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9da6a5;
}
.popular-list .date span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
  margin-right: 10px;
}
.info-course .date .time {
  margin-left: 10px;
}
.info-course .date .classes {
  display: flex;
  align-items: center;
}
.info-course .date .time {
  display: flex;
  align-items: center;
}
/* === stats === */
.stats {
  padding: 200px;
}
.stats .stat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 154px;
}
.stats .stat-item {
  text-align: center;
}
.stats .stat-item strong {
  padding: 6px 0;
  font-size: 6.2rem;
  font-weight: 700;
  color: #0d1111;
}
.stats .stat-item .desc {
  margin-top: 11px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #767e7e;
}
/* === stats === */
/* === feebacks === */
.feebacks {
  margin-top: 64px;
  padding-bottom: 65px;
}
.feebacks .feeback-content {
  display: flex;
}
.feebacks .feeback-info {
  padding: 37px 0;
  width: 36%;
}
.feebacks .list-feeback blockquote {
  margin-top: 27px;
  width: 419px;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5d6564;
}
.feebacks .list-feeback .desc {
  margin-top: 33px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #767e7e;
}
.feebacks .list-feeback .desc strong {
  font-size: 1.6rem;
  font-weight: 500;
  color: #070707;
}
.feebacks .feeback-control {
  margin-top: 52px;
}
.feebacks .link-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2ac9bf;
  cursor: pointer;
  transition: 0.5s;
}
.feebacks .link-control:hover {
  transform: scale(0.9);
}
.feebacks .link-control img {
  width: 6px;
  height: 12px;
}
/* block images */
.feebacks .block-images {
  position: relative;
  width: 64%;
}
.feebacks .block-images .avatar {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}
.block-images .avatar:nth-child(1),
.block-images .avatar:nth-child(3),
.block-images .avatar:nth-child(5) {
  width: 78px;
  height: 78px;
}
.block-images .avatar:nth-child(4) {
  top: 107px;
  right: 171px;
  width: 235px;
  height: 235px;
}
.block-images .avatar:nth-child(6) {
  right: 0;
  top: 19px;
  width: 110px;
  height: 110px;
}
.block-images .avatar:nth-child(2) {
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
}
.block-images .avatar:nth-child(1) {
  top: 258px;
  left: 72px;
}
.block-images .avatar:nth-child(3) {
  left: 212px;
  bottom: 0;
}
.block-images .avatar:nth-child(5) {
  right: 32px;
  bottom: 29px;
}
/* === feebacks === */
/* === Get stats === */
.get-stats {
  margin-top: 65px;
  background: #def6f5;
}
.get-stats .stats-info {
  display: flex;
  align-items: center;
}
.get-stats .ready {
  padding: 76px 0 88px;
}
.get-stats .ready .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #767e7e;
}
.get-stats .stats-info .stats-btn {
  margin-left: 451px;
  min-width: 186px;
  line-height: 68px;
  border-radius: 14px;
  font-size: 1.8rem;
  background: #1ebfc1;
  font-weight: 600;
  color: #fff;
}
/* === Get stats === */
/* === Footer === */
.footer {
  padding: 65px 0;
  margin-top: 65px;
}

.footer .main-content {
  display: flex;
}
.footer .footer-list {
  display: flex;
  gap: 144px;
}
.footer .footer-column .info {
  font-size: 1.6rem;
  font-weight: 400;
  color: #535353;
  margin: 20px 0;
}

.footer .footer-column:first-child {
  margin-left: 144px;
}
.footer .footer-column:first-child .heading {
  margin-bottom: 5px;
}
.footer .footer-column:nth-child(2) .heading,
.footer .footer-column:nth-child(3) .heading {
  margin-bottom: 6px;
}
.footer .footer-column:nth-child(3) .info {
  width: 157px;
}

.footer .lv4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #2e2e2e;
}
.footer .footer-column-social .social {
  display: flex;
  align-items: center;
  margin: 18px 0;
}
.footer .footer-column-social .info {
  font-size: 1.6rem;
  font-weight: 400;
  color: #535353;
  margin-left: 9px;
}
.copy-right {
  margin: 15px 0 50px 0;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
}
/* === Footer === */
